.header{
    display: flex;
    padding: 15px 10px;
    background-color: #03624c;
}
.menu{
    width: 45%;
}
.menu-nav{
    position: absolute;
    top: 8.8%;
    width: fit-content;
    margin: 10px 0px;
    padding: 10px 100px 10px 10px;
    font-size: 20px;
    background-color: #03624c;
    transform: translateY(100);
    visibility: visible;
}
.menu-nav div{
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    color: black;
}
#menu-logout div{
    width: 100%;
    margin-top: 30px;
    color: red;
}
#menu-logout :hover{
    color: darkred;
}
.menu-profile :hover, .menu-my-friends :hover, .menu-help :hover{
    color: #00df82;
}

.friendi-txt-home{
    width: 55%;
    font-family: "Kaushan Script", cursive;
    font-size: 25px;
}

.add-friend-field{
    position: relative;
    top: 450px;
    width: 100%;
    text-align: center;
}
.add-friend-field button{
    border: none;
    background-color: #03624c;
    width: 50%;
    padding: 10px 0px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.retrieve-friend-details{
    position: relative;
    top: 150px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 10px 30px #03624c;
    padding: 20px;
}
.r-f-d-text{
    margin: 10px 0px 20px 0px;
    font-size: 22px;
}
.r-f-d-btn button{
    width: 100%;
    border: none;
    margin-top: 20px;
    background-color: #03624c;
    padding: 5px 0px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.prompt{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: -220px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 10px 30px #03624c;
    padding: 20px 10px;
    display: none;
}
.show-retrieved-results{
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 30px #03624c;
    padding: 10px;
    position: relative;
    top: 100px;
}
.fd{
    font-weight: bold;
    text-align: center;
}
.friend-details{
    width: 350px;
    font-size: 18px;
}
.friend-details div{
    margin-bottom: 5px;
}

.v{
    display: none;
}